@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.sidebar-icons {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.nav-link.active {
    background-color: #efcfd4 !important; 
    color: white !important; 
}

.content-box{
    background-color: #f1f1f1 !important;
}

.new-content-section {
    height: 300px; 
    text-align: center;
}

.rotatingText { 
    margin-top: -12.5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
  
.rotatingText-content { 
    position: relative;
    width: 100%;
}
  
.rotatingText-description { 
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

@media (min-width: 768px) { 
    .rotatingText-description {
      font-size: 18px;
    }
}
  
.rotatingText-adjective { 
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    left: 0;
    margin-bottom: 0;
    margin-top: 30px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity 0.5s ease;
}

@media (min-width: 768px) { 
    .rotatingText-adjective {
        font-size: 70px;
    }
}

.rotatingText-adjective:nth-of-type(1) { 
    animation: rotate-text-up 1.5s 0.75s forwards; 
}

.rotatingText-adjective:nth-of-type(2) { 
    animation: rotate-text-up 1.5s 2s forwards; 
}

.rotatingText-adjective:nth-of-type(3) { 
    animation: fade-text-in 1.5s 3.25s forwards;
}
  
@keyframes rotate-text-up { 
    0% {
        transform: translate3d(0, 80px, 0);
        opacity: 0;
    }
    
    20%, 80% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    
    100% {
        transform: translate3d(0, -40px, 0);
        opacity: 0;
    }
}
  
@keyframes fade-text-in { 
    0% {
        opacity: 0;
        transform: translate3d(0, 80px, 0);
    }
    
    50%, 100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* public/styles.css */

/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variáveis de cores */
:root {
    --cor-principal: #efcfd4;
    --cor-mais-escura: #D4B2B8;
    --cor-azul: #CFD4EF;
    --cor-verde: #BFD9CD;
    --cinza-escuro: #666;
    --cinza-claro: #e0e0e0;
    --branco: #fff;
}

/* Reset e estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #9B59B6;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* Contêiner do calendário */
#calendar {
  width: 90%;
  max-width: 900px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  padding: 20px;
  margin: 40px auto;
}

/* Cabeçalho do calendário */
.fc .fc-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 20px;
}

.fc .fc-toolbar h2 {
  font-size: 1.45rem;
  font-weight: 500;
  color: #9B59B6; /* Cor de destaque no título */
}

/* Botões da barra de ferramentas */
.fc .fc-button-group .fc-button {
  background-color: var(--cor-principal);
  border: none;
  color: #fff;
  margin: 0 5px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.fc .fc-button-group .fc-button:hover {
  background-color: var(--cor-mais-escura);
}

.fc .fc-button-group .fc-button:disabled {
  background-color: #ccc;
  color: #666;
}

/* Dias da semana (cabeçalho) */
.fc .fc-col-header-cell {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
}

.fc .fc-col-header-cell-cushion {
  font-size: 1.1rem; /* Aumentado para melhor clareza */
}

/* Dias do calendário (celulas normais) */
.fc .fc-daygrid-day {
  height: 100px;
  border: 1px solid #e0e0e0;
  position: relative;
  transition: background-color 0.2s ease;
}

/* Número do dia */
.fc .fc-daygrid-day-number {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1rem;
  color: #333;
}

/* Efeito de hover nos dias */
.fc .fc-daygrid-day:hover {
  background-color: #f0f0f0; /* Cor sutil de fundo ao passar o mouse */
  cursor: pointer;
}

/* Marcando o dia de hoje */
.fc .fc-daygrid-day.fc-day-today {
  background-color: #c18fd4;
  color: white;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  color: #fff;
}

/* Dia ativo (selecionado) */
.fc-day-active {
  background-color: #efcfd4 !important;
}

.fc .fc-daygrid-day.fc-day-active .fc-daygrid-day-number {
  color: #fff; /* Texto branco no dia ativo */
}

/* Eventos */
.fc .fc-event {
  background-color: var(--cor-principal);
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.fc .fc-event:hover {
  background-color: var(--cor-mais-escura);
}

/* Modal de evento */
#event-modal {
  display: none; /* O modal é ocultado por padrão */
  position: fixed;
  z-index: 999; /* Certifique-se de que está acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilita rolagem se necessário */
  background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente */
}

#event-modal .modal-content {
  background-color: #fff;
  margin: 10% auto; /* Centraliza verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura do modal */
  max-width: 500px;
  border-radius: 10px;
}

#event-modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#event-modal .close:hover,
#event-modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#event-modal h2 {
  margin-bottom: 20px;
}

#event-modal label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

#event-modal input[type="text"],
#event-modal select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

#event-modal input[type="submit"] {
  margin-top: 20px;
  background-color: var(--cor-principal);
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#event-modal input[type="submit"]:hover {
  background-color: var(--cor-mais-escura);
}

/* Estilos para o contêiner de detalhes do evento */
#event-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #333;
}

/* Título da seção de eventos */
#event-details h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #9B59B6;
}

/* Lista de eventos */
#event-details #events-list {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

/* Estilo dos itens da lista de eventos */
#event-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#event-details li {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

#event-details li:last-child {
  border-bottom: none;
}

/* Botão Adicionar Evento */
#event-details #add-event-btn {
  background-color: #9B59B6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-align: center;
}

#event-details #add-event-btn:hover {
  background-color: #8e44ad;
}

#event-details {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* Personalizar o título do calendário */
.fc-toolbar-title {
  font-weight: 700 !important;        /* Deixar o texto bem grosso */
  font-size: 1.8rem !important;
  color: #9B59B6;            /* Alterar a cor para um roxo marcante */
  text-transform: capitalize; /* Capitalizar as primeiras letras */
  letter-spacing: 1px;       /* Adicionar espaçamento entre as letras */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adicionar sombra ao texto */
}
/* Forçar a estilização dos botões "prev" e "next" */
.fc .fc-toolbar-chunk .fc-prev-button, 
.fc .fc-toolbar-chunk .fc-next-button {
  background-color: #9B59B6 !important;  /* Cor de fundo roxa */
  border: none !important;               /* Remover borda */
  color: #fff !important;                /* Cor branca para a seta */
  border-radius: 5px !important;         /* Bordas arredondadas */
  transition: background-color 0.3s ease !important;  /* Efeito de transição */
}

/* Alterar cor ao passar o mouse */
.fc .fc-toolbar-chunk .fc-prev-button:hover, 
.fc .fc-toolbar-chunk .fc-next-button:hover {
  background-color: #7e4297 !important;  /* Cor roxa mais escura ao hover */
}

/* Garantir que os ícones das setas também mudem de cor */
.fc .fc-toolbar-chunk .fc-prev-button i, 
.fc .fc-toolbar-chunk .fc-next-button i {
  color: #fff !important;  /* Cor branca para os ícones de seta */
}
#event-details {
  position: absolute;     /* Faz com que a div se posicione independentemente */
  right: 180px;
}
#calendar {
  position: relative;     /* Faz com que a div se posicione independentemente */
  right: 180px;
}
/* Personalizar a cor e fonte dos dias da semana no calendário */
.fc .fc-col-header-cell {
  font-family: 'Poppins', sans-serif; /* Alterar a fonte */
  font-size: 1rem;                  /* Tamanho da fonte */
  color: #6f5fc9;                     /* Cor roxa */
  text-transform: uppercase;          /* Transformar em maiúsculas */
  font-weight: 400;                  /* Deixar o texto em negrito */
}

/* Para estilizar o link (a tag <a> dos dias da semana) */
.fc .fc-col-header-cell a {
  color: #6262a1 !important;          /* Cor do link para roxo */
  text-decoration: none;              /* Remover sublinhado */
}

/* Efeito hover no link dos dias da semana */
.fc .fc-col-header-cell a:hover {
  color: #5e5dad !important;          /* Cor roxa mais escura no hover */
  text-decoration: underline;         /* Adicionar sublinhado no hover */
}
#delete-event-btn {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  display: block;  /* Garantir que o botão seja exibido como bloco */
  margin-top: 10px;  /* Adicionar um espaço entre os botões */
}

#delete-event-btn:hover {
  background-color: #c0392b;  /* Cor mais escura no hover */
}

/* Estilizar o evento selecionado */
.selected-event {
  background-color: #f8d7da; /* Cor de fundo vermelha suave para destacar */
  border: 1px solid #f5c6cb; /* Borda para destacar o evento selecionado */
  padding: 5px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #d7dde4; /* Cor ao passar o mouse */
}
.selected-day {
  background-color: pink !important; /* Define o fundo como rosa */
}
#events-list p {
  font-size: 14px !important;
  color: #555 !important; /* Texto em cinza suave */
  padding: 8px 0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
  margin: 0 !important;
}

#events-list p:last-child {
  border-bottom: none !important; /* Remover borda do último item */
}

#events-list p strong {
  color: #9B59B6 !important; /* Destacar horário com uma cor roxa */
}

#events-list p .event-service {
  color: #666 !important; /* Cor mais clara para o serviço */
  font-style: italic !important;
}

#add-event-btn, #delete-event-btn {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  margin: 10px 0 !important; /* Espaçamento entre os botões */
}

.selected-event {
  background-color: #f0e5e6 !important; /* Rosa suave */
  border: 1px solid #e0b4b8 !important; /* Borda clara */
  color: #a94442 !important;
  font-weight: bold !important;
  padding: 8px 5px !important; /* Espaçamento interno */
  border-radius: 0 !important; /* Remover o arredondamento */
  margin: 0 !important; /* Remover a margem */
}


#event-details {
  padding: 15px 25px !important;
}
#add-event-btn, #delete-event-btn {
  width: 100% !important; /* Define a largura para 100% do contêiner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  margin: 10px 0 !important; /* Espaçamento entre os botões */
  padding: 10px 0 !important; /* Ajusta o padding para centralizar o texto */
  text-align: center !important; /* Centraliza o texto */
}
